<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
        <add value="Default.aspx"/>
        <add value="index.php"/>
        <add value="Default.html"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.pl"/>
        <add value="index.htm"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <clear/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <!-- <add name="Connection" connectionString="Data Source=APH44\MSSQLSERVER2008;Initial Catalog=Middleton;User ID=sa;Password=sqldb"/>-->
    <add name="Connection" connectionString="Data Source=lily.arvixe.com;Initial Catalog=middleton;User ID=middleton;Password=pass@123"/>
  </connectionStrings>
  <system.net>
    <!--<mailSettings>
      <smtp from="middleton.solicitiors@gmail.com">
        <network host="smtp.gmail.com" password="Middleton_Gmail" userName="middleton.solicitiors@gmail.com" port="587" defaultCredentials="false" />
      </smtp>
    </mailSettings>-->
  </system.net>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime executionTimeout="100000" maxRequestLength="214748364" />
  </system.web>
</configuration>